.statistics-header{
	line-height: 34px;
	height: 34px;
}
.statistics-header .totalUserNum{
	margin-right: 30px;
}
.nav .platformName{
	border-radius: 5px;
}
.nav .platformName a{
	width: 100px;
	height: 34px;
	line-height: 34px;
	display: block;
	padding: 0;
	text-align: center;
}
.active{
	display: block;
	background: #99f;
}
.userInfoList{
	background: #fff;
	text-align: center;
	margin-top: 10px;
}
.userInfoPaging{
	margin-top: -20px;
}
.tableFooter p{
	height: 42px;
	line-height: 42px;
}